---
layout: default
---
<section id="intro">
    <div class="flex-row-between">
        <h1>Hola 🖖</h1>
        <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
            <div></div>
        </button>
    </div>
    <div class="bio"><p>
	    {{ site.description }}
         Conoce más sobre<a href="{{ site.url }}{{ site.baseurl }}/about"> este proyecto</a>.</p>
        <br>
        
                  <h3>
        Un total de <strong>{{ site.posts | size }}</strong> películas y series reseñadas hasta la fecha.<a href="{{ site.url }}{{ site.baseurl }}/archive">Ver la lista</a>
        <br>
    
    </h3>
  
        
        
<p>🤔 ¿No encontrás donde ver la película?<a href="https://www.buscala.tv/" target="_blank"> buscala.tv</a></p>
	    
        
    
    </div>


</section>



<div class="search-article">
    <label for="search-input" aria-hidden="true">
        <!-- Magnifier -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </label>

    <input type="search" id="search-input" placeholder="Escribe el nombre de la pelicula o serie" aria-label="Search">
    <ul id="search-results"></ul>
</div>





<section class="posts" id="Blog">
    <h2>Últimas reseñas </h2>

    <ul>
        {%- for post in site.posts limit: site.number_of_posts -%}
        <li>
            <a href="{{ site.url }}{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>
            
                <div class="rating">
                    {% assign max_rating = 5 %}
                    {% assign full_stars = post.puntaje %}
                    {% assign empty_stars = max_rating | minus: full_stars %}
                    
                    {% for i in (1..full_stars) %}
                        <span class="star full">⭑</span> <!-- Estrella llena -->
                    {% endfor %}
                    
                    {% for i in (1..empty_stars) %}
                        <span class="star empty">⭒</span> <!-- Estrella vacía -->
                    {% endfor %}
                </div>
           
        </li>
        {% endfor %}
    </ul>
</section>






