---
layout: default
---

<section class="posts">
    <div class="flex-row-between">
        <h1>Directores</h1>
        <a href="{{ site.url }}{{ site.baseurl }}"
            ><i class="fa fa-home" aria-hidden="true"></i> Inicio</a
        >
    </div>



    <h2>{{ page.title }}</h2>

    {{ content }}


    </section>

    <ul>
        {% assign films = site.posts | where: "director", page.director %} {%
        for post in films %}
        <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a> {% if
            post.year %}({{ post.year }}){% endif %}
        </li>
        {% endfor %}
    </ul>

    <br />

    <p>
        <a href="{{ '/directores/' | relative_url }}"
            >← Volver a la lista de directores</a
        >
    </p>
</section>
